extends ./../../../../../layouts/default

include ./../../../../../shared/mixins
include ./../../../../../shared/page_components

block content
  .container
    +render_back_to_link('OEE Time Presets Page', '/oee/settings/machine-default-values')

    .row
      .col
        h1
          + titleize(area)
          | &nbsp;OEE Time Presets

    .row
      .col
        table.table
          tr
            th Name
            //- th Area
            //- th Default Availability (hours)
            //- th Default Capacity (hours)
            th AM Availability
            th PM Availability
            //- th AM Capacity
            //- th PM Capacity

          for n in nodes
            tr
              td= n.name
              //- td
              //-   + titleize(n.area)
              //- td
              //-   input.form-control.input-values(id=`node-${n.id}-availability`, type="number", name="n.id", min="0", max="20", required="true", value=n.default_availability, data-node_id=n.id, data-node_area=n.area, data-type="availability")
              //- td
              //-   input.form-control.input-values(id=`node-${n.id}-capacity`, type="number", name="n.id", min="0", max="22", required="true", value=n.default_capacity, data-node_id=n.id, data-node_area=n.area, data-type="capacity")
              td
                input.form-control.input-values(id=`node-${n.id}-am-availability`, type="number", name="n.id", min="0", max="12", required="true", value=n.am_availability, data-node_id=n.id, data-node_area=n.area, data-type="am_availability")
              td
                input.form-control.input-values(id=`node-${n.id}-pm-availability`, type="number", name="n.id", min="0", max="12", required="true", value=n.pm_availability, data-node_id=n.id, data-node_area=n.area, data-type="pm_availability")
              //- td
              //-   input.form-control.input-values(id=`node-${n.id}-am-capacity`, type="number", name="n.id", min="0", max="22", required="true", value=n.am_capacity, data-node_id=n.id, data-node_area=n.area, data-type="am_capacity")
              //- td
              //-   input.form-control.input-values(id=`node-${n.id}-pm-capacity`, type="number", name="n.id", min="0", max="22", required="true", value=n.pm_capacity, data-node_id=n.id, data-node_area=n.area, data-type="pm_capacity")

  script.
    function updateValues(type, area, node_id, value) {
      let data = {
        type: type,
        value: value
      };

      $.ajax({
        url: '/oee/settings/machine-default-values/' + node_id,
        data: data,
        type: 'PUT',
        success: function(response) {
          new Noty({
            type: 'success',
            text: response.message,
            theme: 'bootstrap-v4',
            timeout: 2000,
          }).show()
        },
        error: function(response) {
          console.log('failer');
          let {
            errors
          } = JSON.parse(response.responseText);
          errors.forEach((error) => {
            new Noty({
              type: 'error',
              text: error.message,
              theme: 'bootstrap-v4',
              timeout: 2000,
            }).show()

            //- fixed values
            let domName = `#node-${node_id}-${type}`;
            $(domName).val(error.corrected_value);
          });

        }
      });
    }

    $('.input-values').on('change', function() {
      let dom = $(this);
      let type = dom.data('type');
      let area = dom.data('area');
      let node_id = dom.data('node_id');
      let value = dom.val();

      updateValues(type, area, node_id, value);
    });
