extends ./../../../../layouts/default

block content
  .container
    .row
      .col
        a.btn.btn-link.my-2(href="/settings")
          i.fa.fa-arrow-left(aria-hidden="true")
          | &nbsp;
          | Back to Settings

    .row.my-3
      .col
        h1
          i.fa.fa-users(aria-hidden="true")
          | &nbsp;Users

    .row
      .col
        a.btn.btn-link.my-2(href="/settings/users/new")
          i.fa.fa-plus-circle(aria-hidden="true")
          | &nbsp;
          | Add new user

    .row
      include ./../../../../shared/pagination

    .row.my-3
      table.table
        tr
          th ID
          th Username
          th Name
          th Employee ID
          th Is Admin?
          th Actions

        for u in users
          tr
            td= u.id
            td= u.username
            td= u.name
            td= u.employee_id
            td= u.is_admin
            td
              a(href=`/settings/users/${u.id}/edit`)
                i.fa.fa-edit(aria-hidden="true")
                | &nbsp;Edit
