extends ./../../../layouts/default
include ./../../../shared/mixins

block content
  .container
    .row
      .col
        a.btn.btn-link.my-2(href="/po-records")
          i.fa.fa-arrow-left
          | &nbsp;Back to PO Records Page
    .row
      .col
        h2
          | PO Records #{poRecord.id}
        a(href=`/po-records/${poRecord.id}/edit`)
          i.fa.fa-edit
          | &nbsp;Edit

    .row
      .col
        table.table
          tr
            th ID
            td= poRecord.id
          tr
            th Status
            td= poRecord.status
          tr
            th PO Number
            td= poRecord.po_number
          tr
            th Material Number
            td= poRecord.material_number
          tr
            th Target Completion Date
            td
              +format_date(poRecord.target_completion_date)
          tr
            th Target Quantity (g)
            td
              +convert_to_thousand(poRecord.target_quantity)
          tr
            th Input Quantity (g)
            td
              +convert_to_thousand(poRecord.input_quantity)
              | &nbsp;&nbsp;&nbsp;
          tr
            th Produced Quantity (g)
            td
              +convert_to_thousand(poRecord.produced_quantity)

    .row
      .col
        h3
          | Last 10 Jobs
        a(href=`/po-records/${poRecord.id}/jobs/new`)
          i.fa.fa-plus-circle
          | &nbsp;Add New Job
        table.table
          tr
            th ID
            th Machine
            th Input Quantity
            th Output Quantity
            th Machine
            th Ended At
            th Ended By
            th Created At
            th Batch Count
            th Batches
          for j in poJobs
            tr
              td
                = j.id
              td
                if j.node
                  = j.node.name
              td= j.input_quantity
              td= j.produced_quantity
              td
                + format_datetime(j.ended_at)
              td
                if j.ended_by
                  = j.ended_by.name
              td
                + format_datetime(j.created_at)
              td
                = j.po_batches.length
              td
                if j.po_batches.length > 1
                  - total = 0
                  table.table
                    tr
                      th Output Quantity
                      th User
                      th Created At
                    for b in j.po_batches
                      tr
                        td
                          +convert_to_thousand(b.output_quantity)
                          - total = total + b.output_quantity
                        td
                          if b.user
                            = b.user.name
                        td
                          + format_datetime(b.created_at)
                    tr
                      td
                        + convert_to_thousand(total)

    .row
      .col
        a(href=`/po-records/${poRecord.id}/jobs`)
          | View all PO #{poRecord.po_number} jobs&nbsp;
          i.fa.fa-arrow-right(aria-hidden="true")
