extend ./../../../../../layouts/default

block content
  .container
    .row
      .col
        a.btn.btn-link.mt-2(href="/gwo/settings")
          i.fa.fa-arrow-left
          | &nbsp;Back to GWO Settings
    .row.mt-5
      .col
        h1 Spare Parts
    .row
      include ./../../../../../shared/pagination
    .row
      .col
        a.btn.btn-primary.my-2(href="/gwo/settings/spare-parts/new")
          i.fa.fa-plus-circle
          | &nbsp;Add New Spare Part

    .row
      table.table
        tr
          th ID
          th SP
          th SPC
          th Item
          th Area
          th Status
          th Added By
          th Minimum Quantity
          th Current Quantity
          th Actions
        for sp in gwoSpareParts
          tr
            td= sp.id
            td= sp.sp
            td= sp.spc
            td= sp.item
            td= sp.area
            td= sp.status
            td= sp.user ? sp.user.name : ''
            td= sp.minimum_quantity
            td= sp.current_quantity
            td
              a.btn.btn-link(href=`/gwo/settings/spare-parts/${sp.id}/edit`)
                i.fa.fa-pencil-square-o
                | &nbsp;Edit
              a.btn.btn-link(href=`/gwo/settings/spare-parts/${sp.id}/stocks`)
                i.fa.fa-list-alt
                | &nbsp;Stock
