extends ./../../../layouts/default
include ./../../../shared/mixins

block content
  .container
    .row
      .col
        a.btn.btn-link(href=`/nodes`)
          i.fa.fa-arrow-left
          | &nbsp;Back to All Machines Page
    .row.my-3
      .col
        h2 Machine #{node.name}
        br
        table.table
          tr
            th ID
            td= node.id
          tr
            th Name
            td= node.name
          if node.active_po_job && node.active_po_job.po_record
            tr
              th Active PO Record
              td
                a(href=`/po-records/${node.active_po_job.po_record.id}`)
                  = node.active_po_job.po_record.po_number
        br
        h2 Recent Events
        table.table
          tr
            th ID
            th Status
            th Start Time
            th End Time
            th Duration
          for e in recentEvents
            tr
              td= e.id
              td= e.status
              td
                + format_datetime(e.start_time)
              td
                + format_datetime(e.end_time)
              td
                + time_diff(e.start_time, e.end_time)
    .row
      .col.text-right
        a(href=`/nodes/${node.id}/events`)
          | View more Machine #{node.name} Events&nbsp;
          i.fa.fa-arrow-right(aria-hidden="true")
