extend ./../../../../../../layouts/default
include ./../../../../../../shared/mixins

block content
  .container
    .row
      .col
        a.btn.btn-link.mt-2(href="/gwo/settings/spare-parts/")
          i.fa.fa-arrow-left
          | &nbsp;Back to GWO Spare Parts Stocks

    .row.text-center
      h1 GWO Spare Part #{gwoSparePart.item} Stocks

    .row
      include ./../../../../../../shared/pagination

    .row
      .col
        a.btn.btn-primary.my-2(href=`/gwo/settings/spare-parts/${gwoSparePart.id}/stocks/new`)
          i.fa.fa-plus-circle
          | &nbsp;Add New Stock

    .row
      table.table
        tr
          th ID
          th Quantity
          th Added By
          th Created At
        for sp in gwoSparePartStocks
          tr
            td= sp.id
            td= sp.quantity
            td= sp.user ? sp.user.name : ''
            td
              +format_datetime(sp.created_at)
