extends ./../../../../layouts/default
include ./../../../../shared/mixins

block content
  .container
    .row
      .col
        a.btn.btn-link(href=`/nodes/${node.id}`)
          i.fa.fa-arrow-left
          | &nbsp;Back to Machine #{node.name} Page
    .row.mt-5
      .col
        h1 Machine #{node.name} Events
        br
    .row
      include ./../../../../shared/pagination

    .row.my-3
      table.table
        tr
          th ID
          th Status
          th Start Time
          th End Time
          th Duration
        for e in events
          tr
            td= e.id
            td= e.status
            td
              + format_datetime(e.start_time)
            td
              + format_datetime(e.end_time)
            td
              + time_diff(e.start_time, e.end_time)
